html {margin: 0; padding: 0; font-family: 'Inter', sans-serif;}
body {transition: 300ms; margin: 0; padding: 0; font-family: 'Inter', sans-serif;}

:root{
	--nav_height: 60px;
	--col_white: white;
}

#upper_nav {
	background: #145DA0;
	width: 100vw;
	height: var(--nav_height);
	float: left;
	box-sizing: border-box;
}
#main {
	float: left;
	width: 100vw;
	height: calc(100vh - var(--nav_height));
	box-sizing: border-box;
}
#main #nav_panel {
	width: 20vw;
	height: calc(100vh - var(--nav_height));
	float: left;
	background: #050A30;
	box-sizing: border-box;
}
#main #nav_panel ul {
	padding-top: 100px;
	margin: 0;
	list-style: none;
}
#main #nav_panel ul li {
	height: 45px;
	font-size: 1.25em;
	color: var(--col_white);
}

#main #site_body {
	width: 80vw;
	height: calc(100vh - var(--nav_height));
	float: left;
	background: #B1D4E0;
	box-sizing: border-box;
	overflow-y: scroll;
}
#main #site_body #infinite-scroll {
	position: relative;
	padding-top: 10vh;
	width: 70%;
	height: auto;
	margin: 0 auto;
}
.element {
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background: var(--col_white);
	margin-bottom: 25px;
}

