html {margin: 0; padding: 0; font-family: 'Inter', sans-serif;}
body {transition: 300ms; margin: 0; padding: 0; font-family: 'Inter', sans-serif;}

:root{
	--nav_height: 75px;
	--ea-dark-color: #161616;
	--black: #000000;
	--gray: #161616;
    --ea-light-color: #f3f3f3;
    --ea-dark-color-rgb: 22, 22, 22;
    --ea-light-color-rgb: 243, 243, 243;
    --origin-brand-color: #f56c2c;
    --ea-access-brand-color: #0089cd;
    --xbox-brand-color: #52b043;
    --playstation-brand-color: #003087;
    --nintendo-brand-color: #fe0016;
    --ea-success-color: #00dc8f;
    --ea-error-color: #ff6969;
    --apex-red: #DA292A;
    --apex-pink: #7C00C7;
    --eacom-theme-color: #f00;
    --eacom-color-black: #000;
    --eacom-color-blue: #1b95da;
    --eacom-color-dark-blue: #242a35;
    --eacom-color-gray: #a3a3a3;
    --eacom-color-light-gray: #f3f3f3;
    --eacom-color-white: #fff;
    --eacom-color-xbox-green: #029e10;
}

#upper_nav {
	background: var(--gray);
	border-bottom: 3px solid var(--apex-red);
	width: 100vw;
	height: var(--nav_height);
	float: left;
	box-sizing: border-box;
	-webkit-box-shadow: -1px -21px 46px -5px rgba(218,41,42,1) inset;
	-moz-box-shadow: -1px -21px 46px -5px rgba(218,41,42,1) inset;
	box-shadow: -1px -21px 46px -5px rgba(218,41,42,1) inset;
}
#main {
	float: left;
	width: 100vw;
	height: calc(100vh - var(--nav_height));
	box-sizing: border-box;
}
#main #nav_panel {
	width: 20vw;
	height: calc(100vh - var(--nav_height));
	float: left;
	background: var(--gray);
	box-sizing: border-box;
}
#main #nav_panel ul {
	padding-top: 100px;
	margin: 0;
	list-style: none;
}
#main #nav_panel ul li {
	height: 45px;
	font-size: 1.25em;
	color: var(--ea-light-color);
}

#main #site_body {
	width: 80vw;
	height: calc(100vh - var(--nav_height));
	float: left;
	background: var(--black);
	box-sizing: border-box;
	overflow-y: scroll;
}
#main #site_body #infinite-scroll {
	position: relative;
	padding-top: 10vh;
	width: 70%;
	height: auto;
	margin:  auto;
}
.element {
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background: var(--gray);
	margin-bottom: 50px;
	transition: 300ms;
}
.element:hover {
	-webkit-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	-moz-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
}
#login{
	margin: auto;
}

#login_btn{
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	padding: 10px;
	

	background: rgba(255, 255, 255, 0.8);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	border: 0px;
	-webkit-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	-moz-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
}

#login_btn:hover > #upper_nav{
	-webkit-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	-moz-box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
	box-shadow: 1px 25px 42px -14px rgba(124,0,199,1);
}
